body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: rgb(131, 131, 131);
}


html, body, #app, #app>div {
  height: 100%
}

#root{
  /* --bodyPaddingTop: 94px; 
  min-height: calc(100vh - var(--bodyPaddingTop)); */
  height: 100%;
  display: flex;
  flex-direction: column;
}